
.div_button_back {
    justify-items: center;
    padding: 10px;
}

.p_button_back {
    padding: 8px 10px;
    border: 2px white solid;
    font-size: 16px;
    display: block;
    width: fit-content;
}